{
  "singleQuote": true,
  "trailingComma": "all",
  "importOrderParserPlugins": [
    "classProperties",
    "decoratirs-legacy",
    "typescript"
  ],
  "importOrder": ["<THIRD_PARTY_MODULES>", "^@/(.*)$", "^../(.*)", "^./(.*)"],
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
